.title {
  margin: 0;
  padding: 10px;
}

.app {
  margin: auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}
.contenedor_search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  transition: all 0.5s ease-in;

}
.active_contenedor_search {
  top: 0%;
  transform: translate(-50%, 0%);
  transition: all 0.5s ease-in;
}
.grid_cards {
  position: absolute;
  visibility: hidden;
  top: 20%;
  left: 50%;
  height: 80vh;
  overflow: scroll;
  transform: translate(-50%, 0%);
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.grid_cards::-webkit-scrollbar{
  display: none;
}
.active_grid_cards {
  visibility: visible;
  animation: blur-in-expand 1s linear both;
}
@keyframes blur-in-expand {
  0% {
    transform: scale(0);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;

  transform: translate(-50%, 0%);

  }
}
